[submodule "sources/native/3rd/hashlink"]
	path = sources/native/3rd/hashlink
	url = git@github.com:HaxeFoundation/hashlink.git
[submodule "sources/native/hdlls"]
	path = sources/native/hdlls
	url = git@github.com:dead-cells-core-modding/hdlls.git
[submodule "sources/native/3rd/tinycc"]
	path = sources/native/3rd/tinycc
	url = https://repo.or.cz/tinycc.git
[submodule "3rd/crashlink"]
	path = 3rd/crashlink
	url = git@github.com:dead-cells-core-modding/crashlink.git
[submodule "sources/native/3rd/cv2pdb"]
	path = sources/native/3rd/cv2pdb
	url = git@github.com:dead-cells-core-modding/cv2pdb.git
